
@model IEnumerable<Pratice.Models.Class1>

@{
    ViewBag.Title = "Index";
}

<h2>桃園市民卡特店優惠 </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.event_name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.event_content)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.event_start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_address3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_address4)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.event_note)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.event_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_url)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.event_name)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.event_content)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.event_start_date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.event_end_date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.event_address1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.event_address2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.event_address3)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.event_address4)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.event_note)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.event_phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.event_url)
    </td>
</tr>
    }

</table>